@import forms.SignInForm.LoginAccount
@(formData: Form[LoginAccount], formField: String, label: String, placeholder: String, defaultValue: String, typeInput: String)

@spanIcon = @{
    formField match {
        case "email" => "envelope-closed"
        case "password" => "key"
    }
}

<div class="form-group @if(formData(formField).hasErrors) {has-error}">
    <label for="@formData(formField).id" class="col-sm-2 col-form-label">@label</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><span class="oi oi-@spanIcon"></span></div>
        </div>
        <input id="@formData(formField).id" name="@formData(formField).name" value="@defaultValue" class="form-control" placeholder="@placeholder" type="@typeInput" required>
    </div>
</div>