@(formData: Form[Account], formField: String, label: String, placeholder: String, defaultValue: String,  typeInput: String)

@spanIcon = @{
    formField match {
        case "firstname" | "lastname" => "person"
        case "useremail" => "envelope-closed"
        case "password" => "key"
        case "role" => "tags"
    }
}

<div class="form-group @if(formData(formField).hasErrors) {has-error}">
    <label for="@formData(formField).id" class="col-sm-2 col-form-label">@label</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text"><span class="oi oi-@spanIcon"></span></div>
        </div>
        <input id="@formData(formField).id" name="@formData(formField).name" value="@defaultValue" class="form-control" placeholder="@placeholder" type="@typeInput" required>
    </div>
    @if(formField == "useremail") {
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    }
</div>