@import forms.SignInForm.LoginAccount
@(formLogin: Form[LoginAccount], account: Option[Account])(implicit request: RequestHeader)

@import play.api.mvc.Flash
@import helper._
@import _forms.signinTemplate

@main("SignIn Page - Play Authentication", account){
    @form(routes.Sessions.authenticate, 'role -> "form", 'class -> "form-signin") {
        @helper.CSRF.formField

        <div class="text-center mb-4">
            <img src="@routes.Assets.versioned("images/scala-icon.png")" alt="" width="80" class="mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Scala Authentication - Sign In</h1>
        </div>

        @request.flash.data.map { case (name, value) => @alertMessage(name, value) }

        @signinTemplate(formLogin, "email", "Email", "Type it here...", request.session.data.get("email").getOrElse(""), "email")
        @signinTemplate(formLogin, "password", "Password", "Don't worry, will be our secret...", "", "password")

        <small>Don't have any account yet? Please <a href="@routes.Application.showSignUpForm()">sign up</a></small>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block">Login</button>
    }
}