@(formSignUp: Form[Account], account: Option[Account])(implicit request: RequestHeader)

@import play.api.mvc.Flash._
@import models.Role._
@import helper._
@import _forms.signupTemplate

@main("SignUp Page - Play Authentication", account){
    @helper.form(routes.AccountsCtrl.createUser, 'role -> "form", 'class -> "form-signin") {
        @helper.CSRF.formField
        <div class="text-center mb-4">
            <img src="@routes.Assets.versioned("images/scala-icon.png")" alt="" width="80" class="mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Scala Authentication - Sign Up</h1>
        </div>

        @request.flash.data.map { case (name, value) => @alertMessage(name, value) }

        @signupTemplate(formSignUp, "firstname", "Name", "Type it here...", request.session.data.getOrElse("firstname", ""), "text")
        @signupTemplate(formSignUp, "lastname", "Last Name", "Type it here...", request.session.data.getOrElse("lastname", ""), "text")
        @signupTemplate(formSignUp, "useremail", "Email", "Type it here...", request.session.data.getOrElse("useremail", ""), "email")
        @signupTemplate(formSignUp, "password", "Password", "Don't worry, will be our secret...", "", "password")

        <br>
        <small>Do you already have an account? Please <a href="@routes.Application.showSignInForm()">sign in</a></small>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    }
}
