@import forms.SignInForm.LoginUser

@(formLogin: Form[Option[Account]], account: Account)(implicit request: RequestHeader)

@import play.api.mvc.Flash
@import helper._

@main("SignIn Page - Play Authentication", account){
    @form(routes.Sessions.authenticate, 'role -> "form", 'class -> "form-signin") {
        @helper.CSRF.formField

        <div class="text-center mb-4">
            <img src="@routes.Assets.versioned("images/scala-icon.png")" alt="" width="80" class="mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Scala Authentication - Sign In</h1>
        </div>

        @request.flash.data.map { case (name, value) => @alertMessage(name, value) }

        <div class="form-group @if(formLogin("email").hasErrors) {has-error}">
            <label for="@formLogin("email").id" class="col-sm-2 col-form-label">Email</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><span class="oi oi-envelope-closed"></span></div>
                </div>
                <input id="@formLogin("email").id" name="@formLogin("email").name" value="@formLogin("email").value.getOrElse("")" class="form-control" placeholder="Type it here..." type="text" required>
            </div>
        </div>

        <div class="form-group @if(formLogin("password").hasErrors) {has-error}">
            <label for="@formLogin("password").id" class="col-sm-2 col-form-label">Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><span class="oi oi-key"></span></div>
                </div>
                <input id="@formLogin("password").id" name="@formLogin("password").name" value="@formLogin("password").value.getOrElse("")" class="form-control" placeholder="Don't worry, will be our secret..." type="password" required>
            </div>
        </div>
        <small>Don't have any account yet? Please <a href="@routes.Application.showSignUpForm()">sign up</a></small>
        <br>
        <br>
        <button class="btn btn-lg btn-primary btn-block">Login</button>
    }
}